[build]

base    = "ecowatch/frontend"

functions = "functions"

command = "npm run build"

publish = "build"

[functions]
node_bundler = "esbuild"

[[redirects]]
from = "/api/v1/environment/current"
to = "/.netlify/functions/get-current"
status = 200

[[redirects]]
from = "/api/v1/environment/forecast"
to = "/.netlify/functions/get-forecast"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

